.mainContent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 50px;
}

header{
    background-color:black;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    padding-left: 50px;
    color: white;
}

header img{
    padding-right: 50px;
    height: 75px;
}

.cartList{
    list-style-type: none;
    width: 200px;
    margin-block-start: 0;
    background-color: rgb(224, 221, 221);
 
}

.products{
    list-style-type: none;
    margin-block-start: 0;

}

.cart{
    border: black 1px;
}